<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form method="post" th:action="@{/login}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Login</button>
</form>
<div th:if="${param.error}" th:text="'Invalid username or password'"></div>
<div th:if="${param.logout}" th:text="'You have been logged out'"></div>
<a th:href="@{/register}">Register</a>
</body>
</html>